<div class="social-icons">
    {{ range .Site.Params.obfuscated_email }}
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#109;&#64;&#115;&#97;&#109;&#99;&#104;&#111;&#114;&#108;&#116;&#111;&#110;&#46;&#99;&#111;&#109;">
        <i class="{{ .icon_pack}} fab fa-{{ .icon}}"></i>
    </a>
    {{ end }}
    {{ range .Site.Params.social }}
    <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
        <i class="{{ .icon_pack}} fab fa-{{ .icon}}"></i>
    </a>
    {{ end }}
</div>
